body{background-image: url(Images/Wild Forest.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; }
h1{
	color: #46667D;
	background-color: #E7936E; 
	font-size: 30px;
	font-family: verdana;
	text-align: center;
	border: 10px solid #1F4560;


}
h2{
	color: #46667D;
	border: 10px solid #1F4560;
	background-color: #E7936E;
	text-align:center;
	font-family: verdana;
}
img{
	width: 200px;
	height: 200px;

	margin-left: 600px ;
}
p{
	font-size: 20px;
	color: #A02615;
	font-family: verdana;
	text-decoration-color: 

}
table, th, td {
  	border: 5px solid black;
  	border-color:#1F4560;
	background-color:#E7936E;
	font-size: 100%;
	background-color: #E7936E;


}